# MongoDB Atlas Connection
MONGODB_URI=mongodb+srv://username:password@cluster0.mongodb.net/minibib?retryWrites=true&w=majority

# Server Configuration
PORT=5000
NODE_ENV=development

# CORS (dominio del frontend)
FRONTEND_URL=http://localhost:3000
